{% extends 'flask-admin-profiler/base.html' %}
{% import 'flask-admin-profiler/memory/lib.html' as lib %}

{% block body %}
{{ lib.nav('leaks') }}

<form method="POST" action="">
    <button class="btn">Refresh</button>
</form>

<table class="table table-striped">
    <tr>
        <th>Type Name</th>
        <th>Object Count</th>
        <th>Difference</th>
    </tr>
    {% for name, difference, num_objects in leaks %}
    <tr>
        <td>{{ name }}</td>
        <td>
            <a href="{{ url_for('.objects', type=name) }}">{{ num_objects }}</a>
        </td>
        <td>
            <a href="{{ url_for('.leaked_objects', type=name)}}">+{{ difference }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
